doctype html
html
   head
        title Hello 
body 
      p(style="color:red") students list
      h1(style="color:green")
      table(border="2" cellpadding="10") 
        thead 
            th FullName
                
            th Email
               
            th Mobile
                
    
            each val in allstudents
                tr 
                    td #{val.name}
                    td #{val.email}
                    td #{val.mobile}
      

